@model GenericOne2ManyviewModel

@{
    ViewData["Title"] = "Manage Permissions";
}

<form method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.Name</h2>
            Add/Remove Permissions
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Modules</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <tr>
                            <td>
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model.Items[i].Name" />
                            <input asp-for="@Model.Items[i].IsChecked" class="form-check-input" />
                              @*  <label class="form-check-label" asp-for="@Model.Items[i].IsChecked">
                                    @Model.Items[i].Name
                                </label>*@
                        </div>
                            </td>
                            <td>@Model.Items[i].Name.Split('.')[1]</td>
                            <td>@Model.Items[i].Name.Split('.')[2]</td>
                        </tr>
                    }
                </tbody>
            </table>
         
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

